<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/common :: headTag">
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top navbar-ratp">
    <div th:replace="fragments/common :: navigation"></div>
</nav>
<!-- Content -->
<div class="container">
    <h3>Création/Modification d'un rendezvous client</h3>
    <form class="form" th:action="@{/rdv/edit}" method="post">
        <input type="hidden" name="id" th:value="${rendezvous.id}"></input>
        <div class="form-group">
            <label>Patient:</label>
            <select class="selectpicker" id="patient" name="patient">
                <option th:each="patient : ${patients}"
                        th:value="${patient.id}"
                        th:text="${patient.nom + ' ' + patient.prenom}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="dateRdv">Date:</label>
            <input type="date" id="dateRdv" name="dateRdv" th:value="${rendezvous.dateRdv}"></input>
        </div>
        <div class="form-group">
            <label for="heure">Heure:</label>
            <input id="heure" name="heure" th:value="${rendezvous.heure}"></input>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
    <!-- Footer -->
</div>
<footer th:include="fragments/common :: footer"></footer>
</body>
</html>
