<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/common :: headTag">
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top navbar-ratp">
    <div th:replace="fragments/common :: navigation"></div>
</nav>
<!-- Content -->
<div class="container" >
    <div class="row">
        <div>
            <h3>Gestion des Rendez Vous</h3>
            <a th:href="@{/rdv/new}" type="button" class="btn btn-primary"
               aria-label="Nouveau rendezvous">Nouveau Rendez Vous
            </a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="display" id="rdvtable" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th th:text="ID"></th>
                <th th:text="Patient"></th>
                <th th:text="Date"></th>
                <th th:text="Heure"></th>
                <th th:text="Actions"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r : ${rendezvous}">
                <td th:text="${r.id}"></td>
                <td th:text="${r.patient.nom +' ' + r.patient.prenom}"></td>
                <td th:text="${r.dateRdv}"></td>
                <td th:text="${r.heure}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{|/rdv/${r.id}/edit|}" role="button">Modifier</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <!-- Footer -->
    <footer th:include="fragments/common :: footer"></footer>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#rdvtable').DataTable({
            language: language,
            fixedHeader: true
        });
        var table = $('#rdvtable').DataTable();
    });
</script>
</html>
