<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/common :: headTag">
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top navbar-ratp">
    <div th:replace="fragments/common :: navigation"></div>
</nav>
<!-- Content -->
<div class="container" >
    <div class="jumbotron">
        <h1>Hôpital 1.0.0</h1>
        <p>Gestion des dossiers patients et rendez-vous</p>
    </div>
    <!-- Footer -->
    <footer th:include="fragments/common :: footer"></footer>
</div>
</body>
</html>
